.content.container
  
  / %ul
  /   %li{ "ng-repeat" => "color in colors" }
  /     Name: 
  /     %input{ "ng-model" => "color.name" }
  /     %a{ :href => "", "ng-click" => "colors.splice($index, 1)" }X
  /     %a{ :href => "", "ng-click" => "colors.push({})" } add

  / %hr
  / Color (null not allowed):
  / %select{ "ng-model" => "myColor", "ng-options" => "color.name for color in colors"} 
  / %br

  / Color (null allowed):
  / %span.nullable
  /   %select{ "ng-model" => "myColor", "ng-options" => "color.name for color in colors" }
  /     %option{ "value" => "" }= "-- choose color --"
  / %br

  / Color grouped by shade:
  / %select{ "ng-model" => "myColor", "ng-options" => "color.name group by color.shade for color in colors" }
  / %br

  / Select 
  / %a{ :href => "", "ng-click" => "myColor = { name:'not in list', shade: 'other' }" } bogus.
  / %br
  / %hr
  / Currently selected: {{ {selected_color:myColor}  }}
  / %div{ "style" => "border:solid 1px black; height:20px", "ng-style" => "{'background-color':myColor.name}" }
  / %br
  / %hr  

  %ol.breadcrumb
    %li
      %span.glyphicon.glyphicon-home
      %a{href: "/#/"} Home
    %li
      %a{href: "/#/time"} Time Tracker
    %li.active
      Index
  %p
    %h3
      Time Tracker for {{models.user.name}}
  .row.clearfix.well.custom_well#date_filter
    .col-md-4
      %p
        Showing
        %select{ "ng-options" => "timelapse.name for timelapse in timelapses", "ng-model" => "standardTimelapse", "ng-change" => "    ();" }
        %select{ :name => "time_filter[time_filter_status]" }
          %option{:value => 1}= "Day"
          %option{:value => 2}= "Week"
          %option{:value => 2}= "Weekdays"
          %option{:value => 3}= "Month"
    .col-md-2
      Uncompleted
      %span.badge#uncompleted_days
        12
    .col-md-2.text-right
      Find Date
    .col-md-4
      %input.form-control.small_input{ "type" => "text", "placeholder" => "Search"}

  %hr
  %div{ "ng-include" => true, "src" => "'#{asset_path('time/day_header.html.haml')}'" }
  %div{ "data-ng-repeat" => "day in timetrack.days" }
    %div{ "ng-include" => true, "src" => "'#{asset_path('time/day.html.haml')}'" }